## Initial Data cleaning

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from config import database, user, password

In [2]:
engine= sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost/{database}')
con= engine.connect()

nft_table= pd.read_sql("SELECT * FROM final_nft", con=engine)
nft_table

,title,name_of_work,creator,art_series,price,type_of_nft,likes,nsfw,total_units,year_create,rights
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,PHOTO,2,False,30,2020,1
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,VIDEO,0,False,1,2020,1
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,PHOTO,0,True,2,2021,1
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,PHOTO,1,False,2,2020,1
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,GIF,0,False,2,2020,1
...,...,...,...,...,...,...,...,...,...,...,...
4170,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,PHOTO,0,False,10,2020,3
4171,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,GIF,0,False,5,2020,1
4172,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,PHOTO,0,False,3,2020,1
4173,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,GIF,0,False,7,2020,1
4174,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,PHOTO,0,False,1,2020,1

## Machine Learning

In [3]:
df_ml= nft_table.copy()
df_ml

,title,name_of_work,creator,art_series,price,type_of_nft,likes,nsfw,total_units,year_create,rights
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,PHOTO,2,False,30,2020,1
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,VIDEO,0,False,1,2020,1
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,PHOTO,0,True,2,2021,1
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,PHOTO,1,False,2,2020,1
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,GIF,0,False,2,2020,1
...,...,...,...,...,...,...,...,...,...,...,...
4170,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,PHOTO,0,False,10,2020,3
4171,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,GIF,0,False,5,2020,1
4172,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,PHOTO,0,False,3,2020,1
4173,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,GIF,0,False,7,2020,1
4174,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,PHOTO,0,False,1,2020,1

In [4]:
df_ml['age']= 2022- df_ml['year_create']
df_ml

,title,name_of_work,creator,art_series,price,type_of_nft,likes,nsfw,total_units,year_create,rights,age
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,PHOTO,2,False,30,2020,1,2
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,VIDEO,0,False,1,2020,1,2
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,PHOTO,0,True,2,2021,1,1
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,PHOTO,1,False,2,2020,1,2
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,GIF,0,False,2,2020,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4170,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,PHOTO,0,False,10,2020,3,2
4171,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,GIF,0,False,5,2020,1,2
4172,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,PHOTO,0,False,3,2020,1,2
4173,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,GIF,0,False,7,2020,1,2
4174,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,PHOTO,0,False,1,2020,1,2

In [5]:
df_ml=df_ml.drop(['year_create'], axis=1)
df_ml

,title,name_of_work,creator,art_series,price,type_of_nft,likes,nsfw,total_units,rights,age
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,PHOTO,2,False,30,1,2
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,VIDEO,0,False,1,1,2
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,PHOTO,0,True,2,1,1
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,PHOTO,1,False,2,1,2
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,GIF,0,False,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
4170,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,PHOTO,0,False,10,3,2
4171,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,GIF,0,False,5,1,2
4172,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,PHOTO,0,False,3,1,2
4173,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,GIF,0,False,7,1,2
4174,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,PHOTO,0,False,1,1,2

In [6]:
df_ml['price_log10']= np.log10(nft_table['price'])
df_ml

,title,name_of_work,creator,art_series,price,type_of_nft,likes,nsfw,total_units,rights,age,price_log10
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,PHOTO,2,False,30,1,2,1.698970
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,VIDEO,0,False,1,1,2,2.698970
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,PHOTO,0,True,2,1,1,1.000000
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,PHOTO,1,False,2,1,2,1.301030
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,GIF,0,False,2,1,2,1.301030
...,...,...,...,...,...,...,...,...,...,...,...,...
4170,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,PHOTO,0,False,10,3,2,1.698970
4171,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,GIF,0,False,5,1,2,1.995635
4172,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,PHOTO,0,False,3,1,2,1.698970
4173,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,GIF,0,False,7,1,2,1.995635
4174,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,PHOTO,0,False,1,1,2,2.845098

In [7]:
df_ml=pd.get_dummies(df_ml, columns=['type_of_nft','nsfw'])
df_ml

,title,name_of_work,creator,art_series,price,likes,total_units,rights,age,price_log10,type_of_nft_GIF,type_of_nft_PHOTO,type_of_nft_VIDEO,nsfw_False,nsfw_True
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,2,30,1,2,1.698970,0,1,0,1,0
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,0,1,1,2,2.698970,0,0,1,1,0
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,0,2,1,1,1.000000,0,1,0,0,1
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,1,2,1,2,1.301030,0,1,0,1,0
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,0,2,1,2,1.301030,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,0,10,3,2,1.698970,0,1,0,1,0
4171,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,0,5,1,2,1.995635,1,0,0,1,0
4172,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,0,3,1,2,1.698970,0,1,0,1,0
4173,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,0,7,1,2,1.995635,1,0,0,1,0
4174,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,0,1,1,2,2.845098,0,1,0,1,0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()
df_ml['creator']=le.fit_transform(df_ml['creator'])
df_ml.head()

,title,name_of_work,creator,art_series,price,likes,total_units,rights,age,price_log10,type_of_nft_GIF,type_of_nft_PHOTO,type_of_nft_VIDEO,nsfw_False,nsfw_True
0,30 min Drawings,Giant Frog,256,kristyglas_30-min-drawings_giant-frog,50.0,2,30,1,2,1.69897,0,1,0,1,0
1,Experimental Video,Biospecimens,232,juliakponsford_experimental-video_biospecimens,500.0,0,1,1,2,2.69897,0,0,1,1,0
2,Sexy Art,long legs,58,badsexy_sexy-art_long-legs,10.0,0,2,1,1,1.00000,0,1,0,0,1
3,Dream World,A Guide in my Dreams,499,yoslehz_dream-world_a-guide-in-my-dreams,20.0,1,2,1,2,1.30103,0,1,0,1,0
4,Dream World,Silent Observer,499,yoslehz_dream-world_silent-observer,20.0,0,2,1,2,1.30103,1,0,0,1,0

In [10]:
df_ml2= df_ml.drop(['title','name_of_work','art_series'], axis=1)
df_ml2

,creator,price,likes,total_units,rights,age,price_log10,type_of_nft_GIF,type_of_nft_PHOTO,type_of_nft_VIDEO,nsfw_False,nsfw_True
0,256,50.0,2,30,1,2,1.698970,0,1,0,1,0
1,232,500.0,0,1,1,2,2.698970,0,0,1,1,0
2,58,10.0,0,2,1,1,1.000000,0,1,0,0,1
3,499,20.0,1,2,1,2,1.301030,0,1,0,1,0
4,499,20.0,0,2,1,2,1.301030,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4170,456,50.0,0,10,3,2,1.698970,0,1,0,1,0
4171,151,99.0,0,5,1,2,1.995635,1,0,0,1,0
4172,387,50.0,0,3,1,2,1.698970,0,1,0,1,0
4173,151,99.0,0,7,1,2,1.995635,1,0,0,1,0
4174,151,700.0,0,1,1,2,2.845098,0,1,0,1,0

In [22]:
df_ml2['price_log10'].value_counts()

1.698970    358
2.000000    261
1.397940    211
1.477121    191
2.176091    173
           ...
0.819544      1
3.647774      1
2.481443      1
1.278525      1
3.204120      1
Name: price_log10, Length: 325, dtype: int64

In [24]:
358/4175

0.08574850299401197

### Linear Regression

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import statsmodels.api as sm

In [16]:
X= df_ml2[['creator','likes','total_units','rights','age','type_of_nft_GIF','type_of_nft_PHOTO','type_of_nft_VIDEO','nsfw_False',
      'nsfw_True']]
y= df_ml2['price_log10']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.80)

In [19]:
model= linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [20]:
model.predict(X_test)

array([1.91315255, 1.90459932, 1.84182525, 1.7523473 , 1.8601701 ,
       1.79391662, 1.8140996 , 2.07977995, 1.7193507 , 1.8340534 ,
       1.84261271, 2.04972427, 1.95837612, 1.93982526, 1.80466926,
       1.9637172 , 1.79393021, 1.7259466 , 2.04596961, 1.79139138,
       1.78030094, 1.98125217, 1.75289067, 1.84522568, 1.89636796,
       1.80499499, 1.96901708, 2.06982648, 2.20700846, 1.7901208 ,
       1.76098633, 1.91300135, 2.0043985 , 2.07869847, 1.76312429,
       1.81396686, 1.96641491, 1.9077236 , 1.79804974, 2.15203115,
       1.8944515 , 1.89545052, 1.82282087, 1.77239278, 1.74878371,
       2.00931226, 1.88280334, 1.83375099, 1.86425349, 1.96947855,
       1.9536682 , 1.81625789, 1.94991649, 1.98643412, 1.80564484,
       2.01403484, 1.83338317, 2.0103125 , 2.07583868, 2.07371689,
       1.78025631, 1.81019374, 2.12262483, 1.89509663, 1.97962002,
       1.80969425, 1.88879234, 2.00998928, 1.82733835, 1.78497681,
       1.90684563, 1.80147298, 1.85354871, 1.95807019, 1.75238524,
       2.04938614, 1.83923268, 1.83662559, 1.84508994, 1.86092319,
       1.90209162, 1.93537228, 1.92246018, 1.87188002, 1.75766491,
       1.81265358, 1.91085733, 1.80255956, 1.90918337, 1.85217489,
       1.91032977, 1.86965126, 1.81125537, 1.88780185, 1.83205721,
       1.90958424, 1.90266338, 1.85028504, 2.01403484, 1.92579048,
       1.85858357, 1.85984691, 1.91813469, 1.827037  , 1.76908495,
       1.80997713, 1.76815693, 1.81929049, 2.00127939, 1.83324555,
       1.89022685, 1.8128702 , 1.79767127, 1.83056718, 1.94569598,
       1.85439848, 1.8972511 , 1.77826176, 1.77275572, 1.78038125,
       1.79988204, 1.75093435, 1.85687013, 1.78543428, 1.75361379,
       1.82588066, 1.85374301, 1.79407462, 1.76358379, 1.95902126,
       1.83542529, 1.84377078, 1.83720323, 1.99411207, 1.96544424,
       1.83679718, 1.83161719, 1.84741408, 2.61612875, 2.55246053,
       2.04101123, 1.7826196 , 1.82349302, 1.99774886, 1.86851149,
       1.7749092 , 1.8548416 , 1.78098557, 1.8353327 , 1.90274826,
       1.80861011, 1.9064124 , 1.74584887, 1.77525471, 1.83287094,
       1.81734882, 1.83279873, 1.76967323, 1.84790993, 1.75650284,
       1.83152729, 1.80404761, 1.73575774, 1.84790993, 1.81228768,
       1.82126634, 1.86995559, 1.87030982, 1.80194495, 1.77410572,
       1.97091115, 1.90253844, 1.82073464, 1.83188046, 1.85541523,
       1.71859854, 1.87372531, 2.03919252, 1.85504554, 1.73413323,
       1.80650542, 1.82110155, 1.86484791, 1.85174359, 1.76387453,
       1.79387545, 1.93028017, 1.87621109, 1.99354876, 1.82096586,
       1.81576711, 1.8128702 , 1.89485963, 1.76789661, 1.81083487,
       1.82075412, 1.79305696, 2.00959045, 1.7997066 , 1.85434296,
       2.41700883, 1.7679112 , 1.83669779, 1.75766491, 2.04024783,
       1.89640103, 1.78386848, 1.77613577, 1.83092141, 1.73356045,
       1.752958  , 1.87065933, 1.97822095, 1.85250371, 1.84134208,
       1.87861743, 1.83072518, 1.98683163, 1.6980163 , 1.83986887,
       1.83901606, 1.94584039, 1.86994687, 1.99698668, 1.82868306,
       1.83542529, 1.76065279, 1.77801796, 1.78814023, 1.79899327,
       1.77862278, 1.73708298, 1.81156563, 1.8865736 , 1.85687013,
       1.76908495, 1.79381004, 2.04590613, 1.8234121 , 2.04673317,
       1.73151996, 1.86032724, 2.16272253, 1.85426396, 1.74911756,
       1.29852198, 1.77847837, 1.88252411, 1.77918196, 1.83496488,
       1.8425141 , 1.8202147 , 1.86257431, 1.9114369 , 2.04157384,
       1.90289267, 1.74564777, 1.82207935, 2.00726015, 1.84790993,
       1.85354871, 2.08355973, 1.86425349, 1.96500329, 1.84376119,
       1.78773804, 2.37713923, 1.8356419 , 2.11525291, 1.77648219,
       1.78909634, 1.7981767 , 2.00529051, 1.87314264, 2.07583868,
       1.85214857, 1.90253844, 1.81754404, 1.8589378 , 1.8293329 ,
       1.77282793, 1.79110256, 1.90862722, 2.02908178, 1.74349045,
       1.83718376, 1.75873632, 1.82479759, 1.83923268, 1.8972511 ,
       1.84653124, 1.95598849, 1.81504506, 1.76844575, 1.84775472,
       2.02981877, 1.93446257, 1.82700287, 1.79225784, 1.81930322,
       1.80852153, 2.10943032, 1.93205557, 1.87190512, 1.81113728,
       1.78814023, 1.79804974, 1.8055053 , 1.85187719, 1.99317956,
       1.93416625, 1.78051755, 1.90351224, 1.92066185, 1.8467938 ,
       1.73122952, 1.79804974, 2.11266803, 1.85208996, 1.97589607,
       1.80485546, 1.89487793, 1.79242455, 1.90564325, 1.90634582,
       1.89560677, 2.03392221, 1.76776679, 2.10759625, 1.97430269,
       1.8356419 , 1.97822931, 1.8913331 , 1.9162965 , 1.8338954 ,
       2.0789829 , 1.82110155, 1.77422214, 1.74841589, 1.77207871,
       1.80775237, 2.01780485, 1.92122961, 1.8072051 , 1.86734942,
       1.78142995, 1.76141956, 1.79131724, 2.02310164, 1.8519602 ,
       1.88923428, 1.79699385, 1.90589023, 1.75965846, 1.97476454,
       1.99884641, 1.96485407, 1.82111514, 1.97885647, 1.84449004,
       2.73472503, 1.83923268, 1.83496488, 1.7826196 , 1.85188799,
       1.81946045, 1.83294036, 1.80460486, 1.83916635, 1.91961792,
       1.82479759, 1.81576711, 1.84683366, 1.7843512 , 1.85751997,
       2.15568256, 1.90085734, 1.87736182, 1.82875526, 1.83496488,
       1.76149177, 1.71597553, 1.77047559, 1.89909816, 1.76906933,
       2.5674835 , 1.83720323, 1.88893674, 1.93720164, 2.07826557,
       1.82948502, 1.99354876, 1.8458882 , 1.85721965, 1.77838771,
       1.99931762, 1.80269803, 1.95598849, 1.82007115, 1.87892177,
       1.79391662, 1.92135774, 1.8112182 , 1.8293329 , 1.85798048,
       1.88215141, 1.95123831, 1.8458882 , 1.79822133, 1.93984353,
       1.8519602 , 1.89054564, 1.89976469, 1.78996371, 1.83474441,
       1.9912757 , 1.75832672, 1.84183793, 1.80194495, 1.8402299 ,
       2.093618  , 1.92603335, 1.93416625, 1.92096026, 1.77458316,
       1.90401676, 2.04012974, 1.78591932, 1.91516278, 1.76908495,
       1.85708674, 1.83166384, 1.8548416 , 1.78798994, 1.82708867,
       2.00273779, 2.08960189, 1.85859224, 1.9170537 , 1.97953285,
       2.39683685, 1.79887117, 1.93571426, 1.83748617, 1.94951898,
       2.28793386, 1.81156563, 1.83715141, 1.83266791, 1.86981118,
       1.87504709, 1.75442573, 1.76149177, 1.82700287, 2.01400174,
       1.92341226, 1.76936697, 2.13775805, 1.85479105, 1.80926867,
       1.89783833, 1.98290673, 1.78444419, 1.84465286, 1.75497782,
       1.80730555, 1.7975511 , 1.82217195, 1.81008462, 1.84790993,
       1.84819196, 1.78788924, 1.89907261, 1.84522568, 1.85585932,
       1.8458882 , 1.83047073, 1.78375039, 1.90814623, 1.86681974,
       2.11736134, 1.9160057 , 1.73851704, 1.88887534, 1.81129635,
       1.78525204, 1.8944515 , 1.91899034, 2.0714129 , 1.89545052,
       1.99052541, 1.85440837, 1.83107941, 1.75876351, 1.89693404,
       1.86069699, 1.87073625, 1.7952299 , 1.8458882 , 1.82326769,
       1.79381004, 1.7055141 , 1.96447411, 1.86904852, 1.85895327,
       1.85533436, 1.8338954 , 1.79110256, 1.86092319, 1.73987534,
       1.99167685, 1.8218491 , 2.05975484, 1.91858812, 1.82779707,
       2.14717983, 1.82361406, 1.8266885 , 2.1465886 , 1.81156563,
       1.99856733, 1.74715359, 2.06087715, 1.80282099, 1.92332673,
       1.90612921, 2.05838885, 1.84481471, 1.82557825, 1.82075412,
       1.81468211, 1.78546865, 1.7677668 , 1.86425349, 1.82733835,
       1.82689153, 2.19034401, 1.8355589 , 1.94182483, 1.76358379,
       1.85524689, 1.79305696, 1.79458005, 1.85500239, 1.92325043,
       1.89587049, 2.11111877, 1.82081273, 1.95427091, 1.84586193,
       2.17320428, 1.82700683, 1.7978603 , 2.01526044, 1.85500239,
       1.75289067, 2.02336183, 1.98462692, 1.89476789, 1.98998511,
       1.9421269 , 1.86092319, 2.04038352, 1.83677   , 1.91834659,
       1.8818412 , 1.78546865, 1.88280334, 1.84449004, 1.94753844,
       1.77045684, 1.84101061, 1.81415041, 1.72074105, 1.79273376,
       1.92369654, 1.82772487, 1.77773594, 1.81958525, 1.82779707,
       1.77830678, 2.39461523, 1.74082079, 1.83323196, 1.95682655,
       1.75808456, 2.03116954, 2.01403484, 1.78360492, 1.91300135,
       2.22609863, 1.78862619, 1.77268352, 1.56082519, 1.89651825,
       1.81929055, 1.9774989 , 1.74806167, 1.78497681, 1.8338954 ,
       1.78497681, 1.92587227, 2.50621036, 1.92245428, 1.81685505,
       1.79348339, 1.85398194, 1.78478574, 1.99858198, 1.90093634,
       1.83542529, 1.82718035, 1.86699519, 1.78721516, 1.78546865,
       1.8458882 , 1.93128084, 1.79305696, 1.92817812, 1.78100554,
       1.7544879 , 1.77601661, 1.87802894, 1.80909795, 1.83421656,
       1.93446257, 1.83496488, 1.89571806, 2.72737752, 1.74653177,
       1.83577952, 2.3201395 , 1.82839424, 1.77661296, 1.82733835,
       1.76734523, 1.80254003, 1.74854479, 1.79710722, 1.85208996,
       2.23822413, 1.85723394, 1.77992354, 1.89871333, 1.8487696 ,
       1.75931396, 1.7817862 , 1.99354876, 1.83542529, 1.72198729,
       2.5490156 , 1.84047283, 1.7606888 , 1.7870746 , 2.00313768,
       1.87594179, 1.76859827, 2.27290583, 1.8368558 , 1.83083176,
       1.74074667, 1.90845523, 1.86104544, 1.86330595, 1.77240637,
       2.04827423, 1.76243043, 1.8498332 , 1.83542529, 1.77422893,
       1.82954358, 1.90455546, 1.80959866, 2.25692872, 1.7666886 ,
       1.96247612, 1.91640839, 1.84183793, 1.79851015, 1.97835531,
       1.89789786, 1.79184012, 1.81113728, 1.84227116, 1.65536595,
       1.82718035, 1.76243043, 1.85547877, 1.99614061, 1.80609166,
       1.85090355, 1.91300135, 2.04590613, 1.80485546, 1.79346579,
       1.82068871, 1.74578062, 1.77422893, 1.95207039, 1.95873506,
       1.85188799, 1.79723804, 2.00305868, 1.91341242, 1.791731  ,
       1.79804974, 1.800737  , 1.82885465, 1.77765694, 1.9465314 ,
       1.91858812, 1.8458882 , 1.82435948, 2.17524347, 1.79804974,
       1.8760862 , 1.7818612 , 1.81490552, 1.88720206, 1.72552016,
       1.81113728, 1.78739871, 1.89477089, 2.06673391, 1.90938639,
       1.77896342, 1.8473255 , 1.84790993, 1.99352764, 1.72552016,
       1.81604721, 2.1386902 , 1.7901208 , 1.81771664, 1.65440101,
       2.07122666, 1.87188002, 1.82003886, 1.97797048, 1.94450966,
       1.78504607, 1.8676032 , 1.72689206, 1.83445351, 1.83542529,
       1.78398338, 1.78721516, 1.83901606, 1.91711718, 1.85354871,
       1.8487696 , 1.8467938 , 1.80721387, 1.79767127, 1.83909415,
       1.89667625, 1.8656233 , 1.84053824, 1.85622029, 1.83324555,
       2.02930045, 1.86734942, 2.20230697, 1.83409842, 2.30407668,
       1.96828178, 2.19508299, 1.88691501, 1.82001848, 2.01317105,
       2.15145072, 1.83542529, 1.85614407, 1.85316142, 1.75203293,
       1.92081509, 1.73467467, 2.0772807 , 1.77661296, 1.91742222,
       2.01706802, 2.0351361 , 1.78525204, 1.7036288 , 1.9722196 ,
       1.83720323, 1.79110256, 1.93934076, 2.19062271, 1.95545722,
       1.83028515, 1.80650542, 2.01663213, 1.87023569, 1.78864566,
       1.77830678, 1.74827828, 1.82731116, 1.8972511 , 1.74841103,
       1.82967441, 1.81396686, 1.90765139, 1.88887534, 1.76381506,
       1.83923268, 2.06290289, 1.97777339, 1.79716863, 1.83901606,
       1.83112529, 2.38803622, 1.794059  , 1.83520188, 1.78788924,
       2.27290583, 1.84624243, 1.93028017, 1.89624303, 1.83496488,
       1.81904675, 1.82912988, 1.73714707, 1.83542529, 2.37118983,
       1.71310609, 1.77797679, 2.00508042, 1.84212569, 1.91731417,
       1.72498167, 1.79506987, 1.8307125 , 1.75949468, 1.72490946])

In [21]:
model.score(X_test,y_test)

0.06593668816272902

In [25]:
print(model.coef_)

[-7.22048449e-05  6.71131484e-02 -6.07200271e-03 -2.58018798e-02
  3.69151417e-02 -5.27182944e-02 -5.63090658e-02  1.09027360e-01
 -1.11293123e-02  1.11293123e-02]

### Decision Tree

In [13]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [14]:
X= df_ml2.drop(['price','price_log10'], axis=1)
X.head()

,creator,likes,total_units,rights,age,type_of_nft_GIF,type_of_nft_PHOTO,type_of_nft_VIDEO,nsfw_False,nsfw_True
0,256,2,30,1,2,0,1,0,1,0
1,232,0,1,1,2,0,0,1,1,0
2,58,0,2,1,1,0,1,0,0,1
3,499,1,2,1,2,0,1,0,1,0
4,499,0,2,1,2,1,0,0,1,0

In [15]:
y= df_ml2['price_log10']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.80)

In [17]:
# Creating, fitting, and scaling the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Creating the decision tree and fittin model
model = DecisionTreeRegressor(criterion='mse')
model.fit(X_train_scaled, y_train)

DecisionTreeRegressor()

In [19]:
# make predictions with the test data
predictions= model.predict(X_test_scaled)

In [20]:
df= pd.DataFrame({'Actual':y_test, "Predicted":predictions})
df.sample(15)

        Actual  Predicted
1510  1.903090   1.903090
3462  1.380211   1.602060
3270  1.602060   2.653213
2620  1.886491   1.602060
432   1.716003   1.779488
4113  1.602060   1.903090
705   1.602060   1.792231
2988  5.000000   2.130334
736   0.602060   1.041393
3352  5.000000   1.698970
881   2.176091   2.110590
2034  2.298853   2.000000
3839  1.929419   2.361728
2339  1.361728   1.522835
3822  2.698970   2.433677

In [21]:
model.score(X_test_scaled, y_test)

0.10865394536610762

In [19]:
path= '../Resources/'
df.to_csv(path+'ml_dataframe.csv')

### Random Forest

In [22]:
X= df_ml2.drop(['price','price_log10'], axis=1)
X

,creator,likes,total_units,rights,age,type_of_nft_GIF,type_of_nft_PHOTO,type_of_nft_VIDEO,nsfw_False,nsfw_True
0,256,2,30,1,2,0,1,0,1,0
1,232,0,1,1,2,0,0,1,1,0
2,58,0,2,1,1,0,1,0,0,1
3,499,1,2,1,2,0,1,0,1,0
4,499,0,2,1,2,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4170,456,0,10,3,2,0,1,0,1,0
4171,151,0,5,1,2,1,0,0,1,0
4172,387,0,3,1,2,0,1,0,1,0
4173,151,0,7,1,2,1,0,0,1,0
4174,151,0,1,1,2,0,1,0,1,0

In [23]:
y=df_ml2['price_log10']
y

0       1.698970
1       2.698970
2       1.000000
3       1.301030
4       1.301030
          ...
4170    1.698970
4171    1.995635
4172    1.698970
4173    1.995635
4174    2.845098
Name: price_log10, Length: 4175, dtype: float64

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.80)

In [25]:
# Creating, fitting, and scaling the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
from sklearn.ensemble import RandomForestRegressor

In [41]:
forest= RandomForestRegressor(n_estimators=250, random_state=42)
forest.fit(X_train_scaled, y_train)

RandomForestRegressor(n_estimators=250, random_state=42)

In [42]:
y_pred= forest.predict(X_test_scaled)

In [43]:
df_2= pd.DataFrame({'Actual':y_test, "Predicted":predictions})
df_2.sample(10)

        Actual  Predicted
3880  1.522835   1.522835
1844  2.068186   2.003665
1210  1.903090   1.397940
1003  1.477121   1.204120
2420  1.544068   1.653213
2279  2.431364   2.176091
3982  1.954243   1.954243
2107  1.477121   2.176091
3322  2.298853   1.803280
1632  2.462398   2.615847

In [44]:
forest.score(X_test_scaled, y_test)

0.4151476586501288