## Initial Data cleaning

In [1]:
from path import Path
import pandas as pd

In [2]:
file= Path('../Resources/dataset.csv')
df= pd.read_csv(file)
df

,title,name_of_art,creator,art_series,price,symbol,type_of_nft,likes,nsfw,tokens,year_create,rights,royalty,cid,path_of_work
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,SWAP.HIVE,PHOTO,2,False,30,2020,1,0,QmegjZDN2gyD9A6cG4efj8DwbLLGTW6isDGadNC2yVJHfH,./dataset/image/QmegjZDN2gyD9A6cG4efj8DwbLLGTW...
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,SWAP.HIVE,VIDEO,0,False,1,2020,1,0,QmeN4KuTQwHPWvGDhiopNJziqmf1feGeabDD4Gk7z9DgUL,./dataset/video/QmeN4KuTQwHPWvGDhiopNJziqmf1fe...
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,SWAP.HIVE,PHOTO,0,True,2,2021,1,0,QmaifAjZTJd8jTxNrwSoGWmFpbPYcszMF4ZcZDBwpRR4v4,./dataset/image/QmaifAjZTJd8jTxNrwSoGWmFpbPYcs...
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,SWAP.HIVE,PHOTO,1,False,2,2020,1,0,QmUTicJApSyByFb7sgsNa6cz8MG5RKsHvGLP61gxSF3JsN,./dataset/image/QmUTicJApSyByFb7sgsNa6cz8MG5RK...
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,SWAP.HIVE,GIF,0,False,2,2020,1,0,Qmb8WbXXdorG52sgY4mSyYUjevE65SGa2vhSxdXstfinz1,./dataset/gif/Qmb8WbXXdorG52sgY4mSyYUjevE65SGa...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4184,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,SWAP.HIVE,PHOTO,0,False,10,2020,3,0,QmeNbzcYHKDzZFTuY3PqBPr5WGKMGmrjrTsKDKd7WTe422,./dataset/image/QmeNbzcYHKDzZFTuY3PqBPr5WGKMGm...
4185,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,SWAP.HIVE,GIF,0,False,5,2020,1,0,QmQZDfsTyqH7uQe75NqeVmtzvNW9eN45hXpexekixeWM4F,./dataset/gif/QmQZDfsTyqH7uQe75NqeVmtzvNW9eN45...
4186,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,SWAP.HIVE,PHOTO,0,False,3,2020,1,0,QmWTT58erwH6Vtv8UJNNM6mmWuwZNsWAYygRXmHnpJeeBa,./dataset/image/QmWTT58erwH6Vtv8UJNNM6mmWuwZNs...
4187,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,SWAP.HIVE,GIF,0,False,7,2020,1,0,QmSAFuLYMpkszCY45ednQpzjSYCpkpZzurygvWHCTP1yo9,./dataset/gif/QmSAFuLYMpkszCY45ednQpzjSYCpkpZz...
4188,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,SWAP.HIVE,PHOTO,0,False,1,2020,1,0,QmNYLy1vRaRYoGRMVmheRgMxPAcrUufoUJHFSe81DmzNB9,./dataset/image/QmNYLy1vRaRYoGRMVmheRgMxPAcrUu...

In [3]:
df.dtypes

title            object
name_of_art      object
creator          object
art_series       object
price           float64
symbol           object
type_of_nft      object
likes             int64
nsfw               bool
tokens            int64
year_create       int64
rights            int64
royalty           int64
cid              object
path_of_work     object
dtype: object

## EDA on Hypothesis

## Machine Learning

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [5]:
df_ml= df.copy()
df_ml

,title,name_of_art,creator,art_series,price,symbol,type_of_nft,likes,nsfw,tokens,year_create,rights,royalty,cid,path_of_work
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,SWAP.HIVE,PHOTO,2,False,30,2020,1,0,QmegjZDN2gyD9A6cG4efj8DwbLLGTW6isDGadNC2yVJHfH,./dataset/image/QmegjZDN2gyD9A6cG4efj8DwbLLGTW...
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,SWAP.HIVE,VIDEO,0,False,1,2020,1,0,QmeN4KuTQwHPWvGDhiopNJziqmf1feGeabDD4Gk7z9DgUL,./dataset/video/QmeN4KuTQwHPWvGDhiopNJziqmf1fe...
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,SWAP.HIVE,PHOTO,0,True,2,2021,1,0,QmaifAjZTJd8jTxNrwSoGWmFpbPYcszMF4ZcZDBwpRR4v4,./dataset/image/QmaifAjZTJd8jTxNrwSoGWmFpbPYcs...
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,SWAP.HIVE,PHOTO,1,False,2,2020,1,0,QmUTicJApSyByFb7sgsNa6cz8MG5RKsHvGLP61gxSF3JsN,./dataset/image/QmUTicJApSyByFb7sgsNa6cz8MG5RK...
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,SWAP.HIVE,GIF,0,False,2,2020,1,0,Qmb8WbXXdorG52sgY4mSyYUjevE65SGa2vhSxdXstfinz1,./dataset/gif/Qmb8WbXXdorG52sgY4mSyYUjevE65SGa...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4184,Abstract Erotica,Taste of Heaven,tntdabomb,tntdabomb_abstract-erotica_taste-of-heaven,50.0,SWAP.HIVE,PHOTO,0,False,10,2020,3,0,QmeNbzcYHKDzZFTuY3PqBPr5WGKMGmrjrTsKDKd7WTe422,./dataset/image/QmeNbzcYHKDzZFTuY3PqBPr5WGKMGm...
4185,GIF art,crypto thinkers,elgeko,elgeko_gif-art_crypto-thinkers,99.0,SWAP.HIVE,GIF,0,False,5,2020,1,0,QmQZDfsTyqH7uQe75NqeVmtzvNW9eN45hXpexekixeWM4F,./dataset/gif/QmQZDfsTyqH7uQe75NqeVmtzvNW9eN45...
4186,Eye,Eye Of The Beholder,rubenalexander,rubenalexander_eye_eye-of-the-beholder,50.0,SWAP.HIVE,PHOTO,0,False,3,2020,1,0,QmWTT58erwH6Vtv8UJNNM6mmWuwZNsWAYygRXmHnpJeeBa,./dataset/image/QmWTT58erwH6Vtv8UJNNM6mmWuwZNs...
4187,HIVE ART,online art - Cryptoverse,elgeko,elgeko_hive-art_online-art-cryptoverse,99.0,SWAP.HIVE,GIF,0,False,7,2020,1,0,QmSAFuLYMpkszCY45ednQpzjSYCpkpZzurygvWHCTP1yo9,./dataset/gif/QmSAFuLYMpkszCY45ednQpzjSYCpkpZz...
4188,fine arts - high resolution printable artworks,Dirty laundry in the fractal kitchen,elgeko,elgeko_fine-arts-high-resolution-printable-art...,700.0,SWAP.HIVE,PHOTO,0,False,1,2020,1,0,QmNYLy1vRaRYoGRMVmheRgMxPAcrUufoUJHFSe81DmzNB9,./dataset/image/QmNYLy1vRaRYoGRMVmheRgMxPAcrUu...

In [7]:
df_ml['symbol'].value_counts()

SWAP.HIVE    4189
Name: symbol, dtype: int64

In [9]:
df_ml['name_of_art'].value_counts()

Sunset                            3
Unicorn                           3
Possession.                       2
What do you see?                  2
Psychedelic Rockpool              2
                                 ..
Going Bananas                     1
The first generated VÃ¡LTÃ³ logo    1
FLOW STATE: Statement #1          1
Stellar - XLM Crypto Stamp        1
FðŸ˜Žck Wall Street                  1
Name: name_of_art, Length: 4082, dtype: int64

In [11]:
df_ml['title'].value_counts()

Trash for Life (In the Haunted Honeycomb)    90
doze                                         57
REKT                                         43
Gif                                          41
Portraits                                    37
                                             ..
Love D                                        1
New Year's Owl                                1
The loneliness of an astronaut                1
wonderful owls ðŸ¦‰                              1
Rostros                                       1
Name: title, Length: 1715, dtype: int64

In [12]:
df_ml['creator'].value_counts()

elenasteem        170
richardfyates     119
artxmike           99
doze               93
elgeko             88
                 ...
motivatedsloth      1
m31                 1
araarachnid         1
oblivioncubed       1
andielor            1
Name: creator, Length: 515, dtype: int64

In [14]:
df_ml['art_series'].value_counts()

elgeko_gif-art_crypto-thinkers                                2
elgeko_visual-art_hexa-tetra-ii                               2
federacion45_oil-painting-style-pieces_dangerous-situation    2
barbarabezina_gif_red-light                                   2
prokopevone_first-light_bonus-suicide                         2
                                                             ..
pollyfoxxy_fiery-wolf_fiery-wolf                              1
doze_printable-nft_unleashed-hell                             1
doze_doze_arabesque-penchee                                   1
yakubenko_forest_my-new-painting-forest                       1
masakaano_abstract_dont-overthink                             1
Name: art_series, Length: 4120, dtype: int64

In [15]:
df_ml['type_of_nft'].value_counts()

PHOTO    3071
GIF       665
VIDEO     453
Name: type_of_nft, dtype: int64

In [16]:
results= []
for x in df_ml.type_of_nft:
    if x == "PHOTO":
        results.append(2)
    elif x == "GIF":
        results.append(1)
    else:
        results.append(0)
df_ml['type_category']=results
df_ml.head()

,title,name_of_art,creator,art_series,price,symbol,type_of_nft,likes,nsfw,tokens,year_create,rights,royalty,cid,path_of_work,type_category
0,30 min Drawings,Giant Frog,kristyglas,kristyglas_30-min-drawings_giant-frog,50.0,SWAP.HIVE,PHOTO,2,False,30,2020,1,0,QmegjZDN2gyD9A6cG4efj8DwbLLGTW6isDGadNC2yVJHfH,./dataset/image/QmegjZDN2gyD9A6cG4efj8DwbLLGTW...,2
1,Experimental Video,Biospecimens,juliakponsford,juliakponsford_experimental-video_biospecimens,500.0,SWAP.HIVE,VIDEO,0,False,1,2020,1,0,QmeN4KuTQwHPWvGDhiopNJziqmf1feGeabDD4Gk7z9DgUL,./dataset/video/QmeN4KuTQwHPWvGDhiopNJziqmf1fe...,0
2,Sexy Art,long legs,badsexy,badsexy_sexy-art_long-legs,10.0,SWAP.HIVE,PHOTO,0,True,2,2021,1,0,QmaifAjZTJd8jTxNrwSoGWmFpbPYcszMF4ZcZDBwpRR4v4,./dataset/image/QmaifAjZTJd8jTxNrwSoGWmFpbPYcs...,2
3,Dream World,A Guide in my Dreams,yoslehz,yoslehz_dream-world_a-guide-in-my-dreams,20.0,SWAP.HIVE,PHOTO,1,False,2,2020,1,0,QmUTicJApSyByFb7sgsNa6cz8MG5RKsHvGLP61gxSF3JsN,./dataset/image/QmUTicJApSyByFb7sgsNa6cz8MG5RK...,2
4,Dream World,Silent Observer,yoslehz,yoslehz_dream-world_silent-observer,20.0,SWAP.HIVE,GIF,0,False,2,2020,1,0,Qmb8WbXXdorG52sgY4mSyYUjevE65SGa2vhSxdXstfinz1,./dataset/gif/Qmb8WbXXdorG52sgY4mSyYUjevE65SGa...,1

In [17]:
df_ml= df_ml.drop(columns=['title', 'name_of_art','art_series','symbol','type_of_nft','cid','path_of_work'])
df_ml

,creator,price,likes,nsfw,tokens,year_create,rights,royalty,type_category
0,kristyglas,50.0,2,False,30,2020,1,0,2
1,juliakponsford,500.0,0,False,1,2020,1,0,0
2,badsexy,10.0,0,True,2,2021,1,0,2
3,yoslehz,20.0,1,False,2,2020,1,0,2
4,yoslehz,20.0,0,False,2,2020,1,0,1
...,...,...,...,...,...,...,...,...,...
4184,tntdabomb,50.0,0,False,10,2020,3,0,2
4185,elgeko,99.0,0,False,5,2020,1,0,1
4186,rubenalexander,50.0,0,False,3,2020,1,0,2
4187,elgeko,99.0,0,False,7,2020,1,0,1
4188,elgeko,700.0,0,False,1,2020,1,0,2

In [19]:
df_ml_encoded= pd.get_dummies(df_ml, columns=['creator','nsfw','year_create'])
df_ml_encoded

,price,likes,tokens,rights,royalty,type_category,creator_a-u-m,creator_a1-shroom-spores,creator_aagabriel,creator_adamfryda-art,...,year_create_2014,year_create_2015,year_create_2016,year_create_2017,year_create_2018,year_create_2019,year_create_2020,year_create_2021,year_create_2112,year_create_2578
0,50.0,2,30,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,500.0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,10.0,0,2,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,20.0,1,2,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,20.0,0,2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4184,50.0,0,10,3,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4185,99.0,0,5,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4186,50.0,0,3,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4187,99.0,0,7,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4188,700.0,0,1,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [20]:
new_df= df_ml_encoded.sample(n=1500)
new_df

,price,likes,tokens,rights,royalty,type_category,creator_a-u-m,creator_a1-shroom-spores,creator_aagabriel,creator_adamfryda-art,...,year_create_2014,year_create_2015,year_create_2016,year_create_2017,year_create_2018,year_create_2019,year_create_2020,year_create_2021,year_create_2112,year_create_2578
3364,16.0,0,5,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1521,50.0,0,3,3,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3544,60.0,0,2,3,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1146,50.0,0,3,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
714,5.0,0,3,3,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,8.0,0,4,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
508,499.0,1,10,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
952,20.0,0,1,1,0,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2398,200.0,0,3,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3930,300.0,0,5,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
new_df['type_category'].value_counts()

2    1109
1     228
0     163
Name: type_category, dtype: int64

## Logistic Regression

In [22]:
y= new_df['type_category']
X= new_df.drop(columns='type_category')

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   random_state=1,
                                                   stratify=y)
X_train.shape

(1125, 555)

In [30]:
classifier= LogisticRegression(solver= 'lbfgs',
                              max_iter=1000,
                              random_state=1)

In [31]:
classifier.fit(X_train, y_train)

C:\Users\yaser\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=1000, random_state=1)

In [32]:
y_pred= classifier.predict(X_test)

In [34]:
print(accuracy_score(y_test, y_pred))

0.7466666666666667

In [36]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.05      0.09        41
           1       0.40      0.07      0.12        57
           2       0.75      0.99      0.86       277

    accuracy                           0.75       375
   macro avg       0.72      0.37      0.36       375
weighted avg       0.73      0.75      0.66       375

## Decision Tree

In [38]:
from sklearn.preprocessing import StandardScaler
from sklearn import tree

In [39]:
tree_df= new_df.copy()
tree_df

,price,likes,tokens,rights,royalty,type_category,creator_a-u-m,creator_a1-shroom-spores,creator_aagabriel,creator_adamfryda-art,...,year_create_2014,year_create_2015,year_create_2016,year_create_2017,year_create_2018,year_create_2019,year_create_2020,year_create_2021,year_create_2112,year_create_2578
3364,16.0,0,5,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1521,50.0,0,3,3,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3544,60.0,0,2,3,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1146,50.0,0,3,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
714,5.0,0,3,3,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,8.0,0,4,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
508,499.0,1,10,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
952,20.0,0,1,1,0,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2398,200.0,0,3,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3930,300.0,0,5,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
y= tree_df['type_category'].values
X= tree_df.drop(columns='type_category')

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=78)

In [42]:
# Create a Standard Scaler
scaler=StandardScaler()
# Fit scaler
X_scaler= scaler.fit(X_train)
# Scale data
X_train_scale= X_scaler.transform(X_train)
X_test_scale= X_scaler.transform(X_test)

In [43]:
model= tree.DecisionTreeClassifier()

In [44]:
model= model.fit(X_train_scale, y_train)

In [46]:
predict= model.predict(X_test_scale)

In [47]:
print(accuracy_score(y_test, predict))

0.7466666666666667

In [49]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.36      0.44      0.40        36
           1       0.56      0.51      0.53        57
           2       0.84      0.83      0.84       282

    accuracy                           0.75       375
   macro avg       0.59      0.60      0.59       375
weighted avg       0.75      0.75      0.75       375